@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

.container {
  display: flex;
}

#navbarNav {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0.5px 0 #dddfe6;
}

.navbar-nav {
  display: flex;
  gap: 2em;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  margin-bottom: 10em;
}

.contents h1 {
  display: flex;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
}

.contents p {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-right: 8em;
}

.buttons ul {
  list-style: none;
  border: none;
}

.buttons button {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
  background: #1a2236;
  padding: 20px;
  width: 50%;
  margin-left: -2em;
}

.headerImage {
  margin-right: -8em;
  margin-top: -8px;
}
